[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
hobbit-core = {extras = ["hobbit", "hobbit_core"],version = "*"}

[requires]
python_version = "3.7"
